#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

div{
	background-color:white;
	align-content: center;
}
h1{
	color:#ffa500;
	text-align: center;
}
